.fjs-editor {
  display: flex;
  flex-direction: row;
}

.fjs-editor .palette-container {
  width: 200px;
  background-color: var(--color-silver-darken-94);
  border-right: solid 1px var(--color-silver-darken-80);
}

.fjs-editor .form-container {
  flex: 1;
}

.fjs-editor .properties-container {
  width: 300px;
  background-color: var(--color-silver-darken-94);
  border-left: solid 1px var(--color-silver-darken-80);
}

.fjs-editor .properties-container pre {
  margin: 0;
  padding: 10px;
  font-size: 12px;
}

.fjs-editor .container {
  /* border: dotted 1px rgba(0, 128, 255, .9); */
  min-width: 300px;
  min-height: 100px;
}

.fjs-editor .container .container {
  border: dashed 2px var(--color-silver-darken-80);
  border-radius: 3px;
}

.fjs-editor .element {
  /* background: rgba(0, 128, 255, .3); */
  margin: 5px;
  height: 100%;
}

.container > .element {
  position: relative;
  border: dashed 2px transparent;
}

.container > .element:hover,
.container > .element.fjs-editor-selected {
  /* background: fuchsia; */
  border-color: var(--color-blue-darken-62);
  border-radius: 3px;
}

.fjs-editor .palette-header {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  border-bottom: solid 1px var(--color-silver-darken-80);
}

.palette-field {
  padding: 10px;
  display: flex;
  white-space: pre;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: solid 1px var(--color-silver-darken-80);
  background-color: var(--color-silver-darken-94);
  font-size: 14px;
}

.palette-field-icon {
  height: 48px;
  margin-right: 8px;
}

.palette-field:hover {
  background-color: var(--color-silver-darken-80);
  cursor: default;
}

.fjs-editor .empty {
  padding: 10px;
  background-color: rgba(0, 128, 255, .6);
}

.fjs-context-pad {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);
}

.fjs-context-pad-item {
  border: none;
  background-color: white;
  padding: 0;
  width: 24px;
  height: 24px;
}

.fjs-context-pad-item img {
  width: 18px;
}


.fjs-empty {
  flex-grow: 1;
  background-color: fuchsia;
}

/* Custom Dragula Styles */
.gu-transit {
  border-radius: 3px !important;
  padding: 0 !important;
  opacity: 1 !important;
  filter: none !important;
  width: 100% !important;
  height: 0 !important;
  border: solid 3px var(--color-blue-darken-62) !important;
}

.gu-transit * {
  display: none !important;
}

.gu-mirror {
  opacity: 1;
  filter: none;
}